@import url("./colors.css");
@import url("./workspaces.css");
@import url("./menu.css");
@import url("./vinyl.css");
@import url("./bar.css");
@import url("./finder.css");
@import url("./calendar.css");
@import url("./notmuch.css");
@import url("./notifications.css");


/* unset so we can style everything from the ground up. */
* {
    all: unset;
    color: var(--foreground);
    font-size: 16px;
    font-family: "Jost*", sans-serif;
}

button {
    background-size: 400% 400%;
}

