/* Vinyl button styling */
#vinyl-button {
    background-color: var(--module-bg);
    padding: 4px 8px;
    border-radius: 12px;
    transition: background-color 0.2s ease;
}

#vinyl-button:hover {
    background-color: var(--light-bg);
}

/* Active state styling */
#vinyl-button.active {
    background-color: var(--pink);
}

#vinyl-button.active:hover {
    background-color: var(--turquoise);
}

/* Icon styling */
#vinyl-icon {
    color: var(--foreground);
}

#vinyl-button.active #vinyl-icon {
    color: var(--background);
}
